<div class="container">
  <p>Duomenys naudojami is:
    <a href="https://restcountries.com/v2/all?fields=name,region,area" target="_blank">Restcountries.com</a>
  </p>

  <h1>Countries:</h1>

  <div class="card" *ngFor="let country of countries">
    <div>
      <p>Country name: <strong>{{ country.name}}</strong></p>
    </div>
    <div>
      <p>
        World region: <strong>{{ country.region}}</strong>
      </p>
    </div>
    <div>
      <p>Area size: <strong>{{ country.area}}</strong></p>
      <hr>
    </div>
  </div>
</div>